[submodule "shoe_fodder"]
	path = shoe_fodder
	url = https://github.com/bsatrom/shoe_fodder.git
[submodule "shoe_fodder_api"]
	path = shoe_fodder_api
	url = https://github.com/bsatrom/shoe_fodder_api.git

[submodule "playlist-editor"]
	path = playlist-editor
	url = git@github.com:burkeholland/playlist-editor.git
